.dropdown{
	display: inline-block;
}

.dropdown button {
	padding: 10px 35px;
    height: 40px;
    max-width: 120px;
    background-image: url(pro.png);
    background-position: center;
    background-size: cover;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    transition: .5s;
}

.dropdown a{
	display: block;
	color: black;
	font-size: 1em;
	text-decoration: none;
	padding: 10px 15px;
}

.dropdown .content-class {
	display: none;
	position: absolute;
	background-color: whitesmoke;
	min-width: 100px;
	box-shadow: 2px 2px 5px black;
	border-radius: 10px 10px 20px 20px;
}

.dropdown:hover .content-class {
	display: block;
}

.dropdown:hover button {
	background-image: url(yang.png);
	background-size: cover;
	background-position: center;
    color: #000B18;
    transition: 0.5s;
}

.dropdown a:hover {
	background-color: darkgray;
	color: white;
	border-radius: 5px 5px 10px 10px;
}
